body {
  animation: theme 21s linear infinite;
  color: white ;
  font-family: 'Alegreya Sans', sans-serif;
}

.themed {
    animation: theme 21s linear infinite;
    color: white;
    display: inline-block;
    padding: 13px;
    text-align: center;
}


body:after, body:before, .themed:after, .themed:before {
  content: '';
  display: block;
  position: fixed;
  z-index: -1;
  top: 0;
  width: 100vw;
  height: 100vh;
  width: 100vmax;
  height: 100vmax;
  background: rgba(0, 0, 0, 0.05);
  animation: background 90s linear infinite;
}
body:after {
  left: 15vw;
}
body:before {
  right: 15vw;
  animation-delay: -30s;
  animation-direction: reverse;
}

.themed:after {
  left: 15vw;
}
.themed:before {
  right: 15vw;
  animation-delay: -30s;
  animation-direction: reverse;
}


@keyframes theme {
  0% {
    background: #74C390;
  }

  16% {
    background: #5DBDB6;
  }

  33% {
    background: #59D4E1;
  }

  50% {
    background: #51BCE8;
  }

  66% {
    background: #FA5374;
  }

  83% {
    background: #E46653;
  }

  100% {
    background: #74C390;
  }
}
@keyframes background {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}



 .header__name {
    font-family: 'Raleway', sans-serif;
    font-size: 48px;
    font-weight: thin;
    letter-spacing: 0.05em;
    color: white;
    display: inline-block;

}

header {
    margin-top: 30px;
    margin-left: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    letter-spacing: 0.03em;
    color: white;
    display: inline-block;
}
article {
    background-color: white;

    text-align: center;
}

article h1 {
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
    margin: 10px 10px 10px 10px;
}

ul.skill-icons {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

ul.skill-icons li {
  display: inline-block;
  height: 64px;
  margin-right: 40px;
  margin-bottom: 10px;
  position: relative;
  width: 64px;
}


span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 64px;
  left: 0;
  position: absolute;
  top: 0;
  width: 64px;
  font-size: 20px;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 64px;
  left: 0;
  position: absolute;
  top: 0;
  width: 64px;
  opacity: 0;
}

ul.skill-icons li:hover span.text-content {
  opacity: 1;
}


span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 64px;
  left: 0;
  position: absolute;
  top: 0;
  width: 64px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

#dp {
    float: left;
    width: 58px;
    height: 72px;
    border-radius: 100%;
    margin-left: 20px;
}

#aboutme p {
    font-family: 'Open Sans', sans-serif;
    color: white ;
    float: right ;
    max-width: 1000px;
    font-size: 17px;
}
.container  h4 {
    font-family: 'Open Sans', sans-serif;
    color: white ;
    font-size: 25px;
    text-align: center;
}

#contact {
    font-family: 'Open Sans', sans-serif;
    color: white ;
}

ul#normal {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.panel-group {
    width: 100%;
}


font-family: 'Alegreya Sans', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Open Sans', sans-serif;
