body {
  animation: theme 21s linear infinite;
  color: white ;
  font-family: 'Alegreya Sans', sans-serif;
}

.themed {
    animation: theme 21s linear infinite;
    color: white;
    display: inline-block;
    padding: 13px;
    text-align: center;
}

iframe{
    width: 300px;
    height: 20px;
}

span{
    min-width: 300px;
    min-height: 20px;
}

#portfolio{
    z-index: 20;
}

#mainNav{
  z-index:1000;
}

body, .themed {
  content: '';
  display: block;
  position: fixed;
  z-index: -1;
  top: 0;

  background: linear-gradient(49deg, #a24bcf, #4b79cf, #4bc5cf);
background-size: 600% 600%;

-webkit-animation: AnimationName 25s ease infinite;
-moz-animation: AnimationName 25s ease infinite;
animation: AnimationName 25s ease infinite;
}



.themed-bg {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  background: linear-gradient(49deg, #a24bcf, #4b79cf, #4bc5cf);
background-size: 600% 600%;

-webkit-animation: AnimationName 25s ease infinite;
-moz-animation: AnimationName 25s ease infinite;
animation: AnimationName 25s ease infinite;

  
  
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 99%}
    50%{background-position:100% 2%}
    100%{background-position:0% 99%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 99%}
    50%{background-position:100% 2%}
    100%{background-position:0% 99%}
}
@keyframes AnimationName { 
    0%{background-position:0% 99%}
    50%{background-position:100% 2%}
    100%{background-position:0% 99%}
}




@keyframes theme {
  0% {
    background: #74C390;
  }

  16% {
    background: #5DBDB6;
  }

  33% {
    background: #59D4E1;
  }

  50% {
    background: #51BCE8;
  }

  66% {
    background: #FA5374;
  }

  83% {
    background: #E46653;
  }

  100% {
    background: #74C390;
  }
}
@keyframes background {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#type{
    text-align: center;
}


 .header__name {
    font-family: 'Raleway', sans-serif;
    font-size: 48px;
    font-weight: thin;
    letter-spacing: 0.05em;
    color: white;
    display: inline-block;

}

header {
    margin-top: 30px;
    margin-left: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    letter-spacing: 0.03em;
    color: white;
    display: inline-block;
    height: 95vh;
}
article {
    background-color: white;
    height: 1000px;
    text-align: center;
}

article h1 {
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
    margin: 10px 10px 10px 10px;
}

ul.skill-icons {
  list-style-type: none;
  padding: 0;

}

ul.skill-icons li {
  display: inline-block;
  height: 64px;
  margin-right: 40px;
  margin-bottom: 10px;
  position: relative;
  width: 64px;
}


span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 64px;
  left: 0;
  position: absolute;
  top: 0;
  width: 64px;
  font-size: 20px;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 64px;
  left: 0;
  position: absolute;
  top: 0;
  width: 64px;
  opacity: 0;
}

ul.skill-icons li:hover span.text-content {
  opacity: 1;
}


span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 64px;
  left: 0;
  position: absolute;
  top: 0;
  width: 64px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

#dp {
    float: left;
    width: 58px;
    height: 72px;
    border-radius: 100%;
    margin-left: 20px;
}

#aboutme p {
    font-family: 'Open Sans', sans-serif;
    color: white ;
    float: right ;
    max-width: 1000px;
    font-size: 17px;
}
.container  h4 {
    font-family: 'Open Sans', sans-serif;
    color: white ;
    font-size: 25px;
    text-align: center;
}

#contact {
    font-family: 'Open Sans', sans-serif;
    color: white ;
}

ul#normal {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.header {
    width: 100%;
    height: 85px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}
.header h1#logo {
    display: inline=block;
    height: 50px;
    float: left;
    margin-left:20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    color: white;
    font-weight: 20;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.header nav {
    display: inline=block;
    float: right;
    margin-right:20px;
    width: 50%;
}
.header nav a {
    line-height: 85px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 20px;
    color: #9fdbfc;
    font-weight: 700;
    font-size: 18px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.header nav a:hover {
    color: white;
}
.header.smaller {
    height: 55px;
}
.header.smaller h1#logo {
    width: 85px;
    height: 55px;
    font-size: 30px;
    margin-top: 10px;
}
.header.smaller nav a {
    line-height: 55px;
}

@media all and (max-width: 660px) {
    .header h1#logo {
        display: block;
        float: none;
        margin: 0 auto;
        height: 100px;
        line-height:100px;
        text-align: center;
    }
    .header nav {
        display: block;
        float: none;
        height: 50px;
        line-height:50px;
        text-align: center;
        margin: 0 auto;
    }
    .header nav a {
        line-height: 50px;
        margin: 0 10px;
    }
    .header.smaller {
        height: 55px;
    }
    .header.smaller h1#logo {
        height: 40px;
        line-height: 40px;
        font-size: 30px;
    }
    .header.smaller nav {
        height: 35px;
        line-height:35px;
    }
    .header.smaller nav a {
        line-height: 35px;
    }
}

font-family: 'Alegreya Sans', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Open Sans', sans-serif;
