/*
#1 = 35A49C
#2 = 79CDC0
*/
.themed {
    animation: theme 21s linear infinite;
    color: white;
    z-index: 0;
    padding: 13px;
    text-align: center;
}

.navbar-brand{
    height: auto;
}

.themed:after, .themed:before {
  content: '';
  display: block;
  position: fixed;
  z-index: -1;
  top: 0;
  width: 100vw;
  height: 100vh;
  width: 100vmax;
  height: 100vmax;
  background: rgba(0, 0, 0, 0.05);
  animation: background 90s linear infinite;
}


.themed:after {
  left: 15vw;
}
.themed:before {
  right: 15vw;
  animation-delay: -30s;
  animation-direction: reverse;
}


@keyframes theme {
  0% {
    background: #74C390;
  }

  16% {
    background: #5DBDB6;
  }

  33% {
    background: #59D4E1;
  }

  50% {
    background: #51BCE8;
  }

  66% {
    background: #FA5374;
  }

  83% {
    background: #E46653;
  }

  100% {
    background: #74C390;
  }
}
@keyframes background {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


a {
	color: #35A49C;
}
a:hover {
	color: #79CDC0;
}

/* menu */
.themed .nav>li>a:hover {
	color: #79CDC0;
}

.themed .navbar .navbar-nav > .active > a {
	color: #79CDC0;
}

/* flexslider */
.themed .flex-control-paging li a {
	background: #35A49C;
}

.themed .flex-direction-nav a:hover{
	background-color:#35A49C;
}

.themed .testimonial span.author a {
	color: #79CDC0;
}

/* --- icon box hover --- */
.themed .hi-icon-effect-5 .hi-icon {
	color: #35A49C;
	box-shadow: 0 0 0 4px #35A49C;
}
.themed .no-touch .hi-icon-effect-5 .hi-icon:hover {
	background: #35A49C;
	box-shadow: 0 0 0 8px  #79CDC0;
}


/* portfolio */
.themed .portfolio-item .portfolio-desc {
	background: rgba(38, 198, 218, 0.4);
}

/* btn */
.themed .btn-theme {
  background: #79CDC0;
}
.themed .btn-theme:hover,.btn-theme:focus,.btn-theme:active{
  background: #35A49C;
}
.themed .btn-cta,.btn-cta.btn-lg {
  background: #35A49C;
  border-color: #79CDC0;
}

.themed .btn-cta:focus,.btn-cta:active{
   border-color: #35A49C;
}

/* contact */
.themed .validation {
	color:#35A49C;
}

/* footer */
.themed .social-circle li a {
	background:#35A49C;
}

.themed a.scrollup{
	background:#35A49C;
}
