---
title: Portfolio
layout: default
---

<!DOCTYPE html>
<html class="no-js">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Hux - Timeline</title>
	<link rel="stylesheet" type="text/css" href="css/timeline.css" />

	<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
	<script src="js/modernizr.custom.js"></script>
</head>

<body>
	<div class="container" style="margin:0;padding:0;width:100%;">
		<header style="background-image: url('/img/portfolio-cover.jpg')">
			<img width="175" height="175" style="border-radius:50%;" src="/img/profile.jpg">
			<h1>Diwakar</h1>
			<p>Undergrad student in Information Technology,<br> focus on Algorithms, Web Development and Open-Sources.</p>
		</header>
		

		<div class="container-fluid">
        	<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
					<ul class="timeline timeline-centered">
						<li class="timeline-item">
							<div class="timeline-info">
								<span>May 2017 - present</span>
							</div>
							<div class="timeline-marker"></div>
							<div class="timeline-content">
								<h3 class="timeline-title">GSoC Student Software Developer, Moodle</h3>
								<p>Working on improving/updating the Development Enviroment with latest technologies, write Protractor tests to automate the Pre-Production End-to-End Testing and integrate the App Development with SauceLabs and TravisCI</p>
							</div>
						</li>
						<li class="timeline-item">
							<div class="timeline-info">
								<span>May 4, 2017</span>
							</div>
							<div class="timeline-marker"></div>
							<div class="timeline-content">
								<h3 class="timeline-title">Google Summer of Code 2017</h3>
								<p>Selected for Google Summer of Code 2017 to work under Moodle Organisation on their Moodle Mobile Project "Improve End-to-End Testing in the Mobile App"</p>
							</div>
						</li>

						<li class="timeline-item">
							<div class="timeline-info">
								<span>Jan 2017 - Present</span>
							</div>
							<div class="timeline-marker"></div>
							<div class="timeline-content">
								<h3 class="timeline-title">Open Source Contributor, Moodle</h3>
								<p>Active and Regular contributor of their project Moodle Mobile which bring Web Services of Moodle to Mobile(Android & iOS). Fixed critical bugs and added important features (context menu functionalities in modules, message search, Module Prefetch
									for Resources and others) </p>
							</div>
						</li>
						<li class="timeline-item">
							<div class="timeline-info">
								<span>Dec 2016 - Feb 2017</span>
							</div>
							<div class="timeline-marker"></div>
							<div class="timeline-content">
								<h3 class="timeline-title">Mentor, OpenCode</h3>
								<p>Mentored various students in OpenCode, Nation-wide Inter-College Open Source event by IIITA. </p>
							</div>
						</li>
						<li class="timeline-item">
							<div class="timeline-info">
								<span>Nov 2016 - April 2017</span>
							</div>
							<div class="timeline-marker"></div>
							<div class="timeline-content">
								<h3 class="timeline-title">Workshops & Talks Organiser, Aparoksha'17</h3>
								<p>Worked for Aparoksha 2017 (annual technical fest) of our college. Organised various Workshops & Talks to empower and enlighten the students with skills and thoughts from great minds in the Tech Industry </p>
							</div>
						</li>
						<li class="timeline-item">
							<div class="timeline-info">
								<span>March 2016 - April 2017</span>
							</div>
							<div class="timeline-marker"></div>
							<div class="timeline-content">
								<h3 class="timeline-title">Software Developer, FOSS - GeekHaven - IIITA</h3>
								<p>Organised & participated in various events like IIITA-Hacks, Open-Source workshops, OpenCode. Worked upon many projects related to our college.
								</p>
							</div>
						</li>
						<li class="timeline-item">
							<div class="timeline-info">
								<span>July 2015 - Present</span>
							</div>
							<div class="timeline-marker"></div>
							<div class="timeline-content">
								<h3 class="timeline-title">IT Undergrad, IIIT Allahabad</h3>
								<p>Started Bachelors of Technology, Information Technology course in IIIT Allahabad, India. </p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		
		<ul class="cbp_tmtimeline">
			<li>
				<div class="cbp_tmlabel">
					<h2 id="boxoffice">Gather</h2>
					<time>2016</time>
					<img src="images/gather.jpg">
					<ul>
						<li>
							Gather is a cross-platform Event-Organisation service where anyone can host their events, attend any events in their desired localities, and view all the events happening around them.<br /> The rudimentary version of this project is done in HackInTheNorth
							hackathon organised by IIIT-Allahabad. Later enhanced and extended it to other platforms like Android and Messenger bots in another hackathon IIITA-Hacks organised by same college. It is also available in Google PlayStore. Sample service of the
							products(Web, Android) can be shown upon request as I host it for temporarily on sandboxed servers.
						</li>
						<li class="skill">
							<ul class="list-inline item-details">
								<li><i class="devicon-html5-plain-wordmark colored iconxyz"></i></li>
								<li><i class="devicon-bootstrap-plain-wordmark colored iconxyz"></i></li>
								<li><i class="devicon-css3-plain-wordmark colored iconxyz"></i></li>
								<li><i class="devicon-php-plain colored iconxyz"></i></li>
								<li><i class="devicon-android-plain-wordmark colored iconxyz"></i></li>
								<Li><i class="devicon-javascript-plain colored iconxyz"></i></Li>
								<li><i class="devicon-mysql-plain-wordmark colored iconxyz"></i></li>
							</ul>
							<span class="link"><a target="_blank" href="https://github.com/magician03/gather">SourceCode</a></span>
						</li>

					</ul>
				</div>
			</li>
			<li>
				<div class="cbp_tmlabel">
					<h2 id="boxoffice">BlogSpace</h2>
					<time>2016</time>
					<img src="images/blogspace.jpg">
					<ul>
						<li>
							A simple blogging platform for everyone to post and share their blogs. <br /> I built it using the 'Google WebApp2' python library for backend, BootStrap, CSS, HTML, JavaScript for FrontEnd and Google DataStore for Database management. User Accounts
							and Security is taken care of. Blogpost only take text without any images and stored as String in the DataStore. It is now in production on Google Cloud Platoform.
						</li>
						<li class="skill">
							<ul class="list-inline item-details">
								<li><i class="devicon-python-plain-wordmark colored iconxyz"></i></li>
								<li><i class="devicon-html5-plain-wordmark colored iconxyz"></i></li>
								<li><i class="devicon-bootstrap-plain-wordmark colored iconxyz"></i></li>
								<li><i class="devicon-css3-plain-wordmark colored iconxyz"></i></li>
								<Li><i class="devicon-javascript-plain colored iconxyz"></i></Li>
							</ul>
							<span class="link"><a target="_blank" href="https://github.com/magician03/blogspace-1803">SourceCode</a></span>
						</li>
					</ul>
				</div>
			</li>
			<li>
				<div class="cbp_tmlabel">
					<h2 id="busyweek">IIITAHacks Website</h2>
					<time>2016</time>
					<img src="images/iiitahacks.jpg">
					<ul>
						<li>
							It is the official website of Intra-College hackathon. This is a static site with BootStrap, HTML, CSS, JS and various other JQuery plugins. The attractive color-changing background is done using CSS-KeyFrame Animation. The site also has Facebook like
							button embedded in it.
						</li>
						<li class="skill">
							<ul class="list-inline item-details">
								<li><i class="devicon-html5-plain-wordmark colored iconxyz"></i></li>
								<li><i class="devicon-bootstrap-plain-wordmark colored iconxyz"></i></li>
								<li><i class="devicon-css3-plain-wordmark colored iconxyz"></i></li>
								<Li><i class="devicon-javascript-plain colored iconxyz"></i></Li>
							</ul>
							<span class="link"><a target="_blank" href="https://github.com/magician03/iiitaHacks">SourceCode</a></span>
						</li>
					</ul>
				</div>
			</li>
			<li>
				<div class="cbp_tmlabel">
					<h2>Online Judge</h2>
					<time>2016</time>
					<img src="images/judge.jpg">
					<ul>
						<li>
							Google Code Jam style Online Judge.<br /> This uses PHP for the backend, BootStrap, HTML, CSS, JS for front-end, MySQL for databases. Built on MVC framework. The output files are compared using their checksums. I built the entire website as a part
							of Tri-Hacker contest in our college.
						</li>
						<li class="skill">
							<ul class="list-inline item-details">
								<li><i class="devicon-html5-plain-wordmark colored iconxyz"></i></li>
								<li><i class="devicon-bootstrap-plain-wordmark colored iconxyz"></i></li>
								<li><i class="devicon-css3-plain-wordmark colored iconxyz"></i></li>
								<li><i class="devicon-php-plain colored iconxyz"></i></li>
								<Li><i class="devicon-javascript-plain colored iconxyz"></i></Li>
								<li><i class="devicon-mysql-plain-wordmark colored iconxyz"></i></li>
							</ul>
							<span class="link"><a target="_blank" href="https://github.com/magician03/judge">SourceCode</a></span>
						</li>
					</ul>
				</div>
			</li>
			<li>
				<div class="cbp_tmlabel">
					<h2 id="hslider">Youtube Instant</h2>
					<time>2016</time>
					<img src="images/ytinstant.jpg">
					<ul>
						<li>
							Browse and play YouTube videos instantly like Google Instant Search. This uses React for component renderring in the views, WebPack-dev-server and Node for controller part. This doesnt use any Database, instead uses Youtube Search API for browsing the
							YouTube. It consists of 3 major components, search bar, video-list and currently-playing video. Built this following a Udemy course on React.
						</li>
						<li class="skill">
							<ul class="list-inline item-details">
								<li><i class="devicon-html5-plain-wordmark colored iconxyz"></i></li>
								<li><i class="devicon-css3-plain-wordmark colored iconxyz"></i></li>
								<li><i class="devicon-nodejs-plain-wordmark colored iconxyz"></i></li>
								<Li><i class="devicon-javascript-plain colored iconxyz"></i></Li>
								<li><i class="devicon-react-original-wordmark colored iconxyz"></i></li>
							</ul>
							<span class="link"><a target="_blank" href="https://github.com/magician03/youtube_instant">SourceCode</a></span>
						</li>
					</ul>
				</div>
			</li>
			<li>
				<div class="cbp_tmlabel">
					<h2 id="hslider">Finance & Trading</h2>
					<time>2016</time>
					<img src="images/finance.jpg">
					<ul>
						<li>
							This is a coursework of Harvard CS50 PSet7. I should abide the Honor Code and couldnt reveal much of the details regarding this project. It uses PHP for backend, built on MVC framework, and HTML,CSS, JavaScript, BootStrap for front-end. All the stock
							values are real-time and fetched via Yahoo-Finance API, provided in PSet BoilerPlate. The source-code of the project is not public, instead demo of the project can be shown upon request.
						</li>
						<li class="skill">
							<ul class="list-inline item-details">
								<li><i class="devicon-html5-plain-wordmark colored iconxyz"></i></li>
								<li><i class="devicon-bootstrap-plain-wordmark colored iconxyz"></i></li>
								<li><i class="devicon-css3-plain-wordmark colored iconxyz"></i></li>
								<li><i class="devicon-php-plain colored iconxyz"></i></li>
								<Li><i class="devicon-javascript-plain colored iconxyz"></i></Li>
								<li><i class="devicon-mysql-plain-wordmark colored iconxyz"></i></li>
							</ul>
						</li>
					</ul>
				</div>
			</li>
			<li>
				<div class="cbp_tmlabel">
					<h2>Peer To Peer Chat</h2>
					<time>2016</time>
					<img src="images/p2p.png">
					<ul>
						<li>
							Super secure chat service using Peer to Peer technology. Built with NodeJS and NPM modules written by <a href="https://github.com/mafintosh"> Mafintosh</a>. This does not use any database and runs on command line interface. All the usernames are
							temporary and will be vanished after the session. It also support basic level group chat and indivial private chat. It does not contain logs of any conversation and is super secure for confidential messages.
						</li>
						<li class="skill">
							<ul class="list-inline item-details">
								<li><i class="devicon-nodejs-plain-wordmark colored iconxyz"></i></li>
								<Li><i class="devicon-javascript-plain colored iconxyz"></i></Li>
							</ul>
							<span class="link"><a target="_blank" href="https://github.com/magician03/P2P-Chat">SourceCode</a></span>
						</li>
					</ul>
				</div>
			</li>
			<li>
				<div class="cbp_tmlabel">
					<h2>Open Sources</h2>
					<time>2016</time>
					<img src="images/foss.jpg">
					<ul>
						<li>
							Along with all the personal projects, I also contribute actively to the open-source, mostly to the Technical society of our college. Currently, I am willing to contribute to open-source organisations which help in making the world a better place to live
							in.
						</li>
						<li class="skill">
						</li>
					</ul>
				</div>
			</li>

			{% if site.duoshuo_username %}
			<li>
				<div class="cbp_tmlabel">
					<!-- 多说评论框 start -->
					<div class="comment">
						<div class="ds-thread" data-thread-key="{{site.duoshuo_username}}/portfolio" data-title="{{page.title}}" data-url="{{site.url}}{{site.baseurl}}{{page.url}}">
						</div>
					</div>
					<!-- 多说评论框 end -->
				</div>
			</li>
			{% endif %}
		</ul>
	</div>
	</div>
	{% if site.duoshuo_username %}
	<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
	<script type="text/javascript">
		// dynamic User by Hux
		var _user = '{{site.duoshuo_username}}';

		// duoshuo comment query.
		var duoshuoQuery = {
			short_name: _user
		};
		(function() {
			var ds = document.createElement('script');
			ds.type = 'text/javascript';
			ds.async = true;
			ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
			ds.charset = 'UTF-8';
			(document.getElementsByTagName('head')[0] ||
				document.getElementsByTagName('body')[0]).appendChild(ds);
		})();
	</script>
	<!-- 多说公共JS代码 end -->
	{% endif %}
</body>

</html>
